.Footer-container {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  background-color: black;
}

.Footer-Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Check-Availability {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.Footer-Buttons {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.Sign-Up {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border-radius: 26px;
  padding: 8px 16px;
}

.Book-Now {
  background-color: #36454F;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 26px;
  padding: 8px 16px;
}

.Footer-Middle {
  border-bottom: 1px solid white;
}

.Footer-Bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Footer-Links {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  list-style-type: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.Social-Media-Icons {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

.Social-Media-Icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 375px) {
  
  .Footer-container {
    padding: 20px 16px;
    row-gap: 24px;
  }

  .Footer-Top {
    flex-direction: column;
    row-gap: 24px;
  }

  .Footer-Bottom {
    flex-direction: column;
    gap: 24px;
  }

  .Footer-Links {
  flex-direction: column;
  column-gap: 12px;
  }
  
}