.Hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1024px;
  width: 100%; 
  padding-bottom: 20px;
  background-image: url("Images/Hero Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: hsl(204, 19%, 26%, 0.3);
}

.account {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 24px;
  width: 58px;
  padding: 6px 10px;
  border-radius: 18px;
  background-color: #36454F;
}

.account-icon {
  width: 24px;
  height: 24px;
}

.account-icon-2 {
  width: 24px;
  height: 24px;
} 

.Hero-text {
  display: flex;
  flex-direction: column;
}

.text-section {
  display: flex;
  flex-direction: column;
  row-gap: 400px;
  align-items: center;
}

.Welcome {
  color: white;
  font-size: 64px;
  font-weight: 700;
}

.Gain {
  color: white;
  font-size: 20px;
  font-weight: 300;
  width: 735px;
}

.search-section {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: end;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 20px;
  padding: 16px;
}

.search-tabs {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.search-tab {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.tab-name {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.search-input {
  width: 158px;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  padding: 10px 0px 10px 20px;
  font-size: 12px;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
  height: 34px;
  padding: 6px 20px;
  font-size: 14px;
  margin-bottom: 2px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(0, 0, 0);
  border-radius: 24px;
  background-color: white;
}

@media screen and (max-width: 375px) {
  .Hero-section {
    display: flex; flex-direction: column;
    height: 844px; width: 375px;
    padding-bottom: 20px;
  }

  .Navbar {
    padding: 20px 16px;
  }

  .logo {
    width: 63px;
  }

  .account {
    padding: 0;
  }

  .account-icon {
    width: 20px;
    height: 20px;
  }

  .account-icon-2 {
    width: 20px;
    height: 20px;
  }

  .text-section {
    row-gap: 150px;
    margin: 0px 16px 0px 16px;
  }

  .Welcome {
    font-size: 32px;
    width: 343px;
  }

  .Gain {
    font-size: 14px;
    width: 343px;
  }

  .search-section {
    flex-direction: column;
    align-items: stretch;
    width: 323px;
    row-gap: 12px;
    padding: 10px;
  }

  .search-tabs {
    flex-direction: row-reverse;
    column-gap: 13px;
  }

  .search-tab {
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .search-input {
    width: 138px;
    font-size: 12px;
    padding: 8px 0px 8px 15px;
  }

  .tab-name {
    font-size: 12px;
  }

  .search-button {
    width: 100%;
    justify-content: center;
    font-size: 16px;
  }

}