.Hero-section {
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 100%;
  padding-bottom: 40px;
  background-image: url("Images/Hero Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Navbar {
  margin-bottom: 320px;
  padding: 20px 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1090px;
  background-color: hsl(204, 19%, 26%, 0.3);
}

.account {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 24px;
  width: 58px;
  padding: 6px 10px;
  border-radius: 18px;
  background-color: #36454F;
}

.account-icon {
  width: 24px;
  height: 24px;
}

.account-icon-2 {
  width: 24px;
  height: 24px;
} 

.Hero-text {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.text-section {
  display: flex;
  flex-direction: column;
  row-gap: 400px;
  justify-content: space-between;
  align-items: center;
}

.Welcome {
  color: white;
  font-size: 64px;
  font-weight: 700;
}

.Gain {
  color: white;
  font-size: 20px;
  font-weight: 300;
  width: 735px;
}

.search-section {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 12px;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 20px;
  padding: 16px;
}

.search-tabs {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.search-tab {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px;
}

.tab-name {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.search-bar {
  width: 199px;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  padding: 10px 16px;
  font-size: 12px;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  padding: 6px 40px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(0, 0, 0);
  border-radius: 24px;
  background-color: white;
}

@media screen and (max-width: 400px) {
  .Hero-section {
    height: 844px;
    width: 400px;
  }
  .Navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
  }

  .logo {
    width: 63px;
  }

  .account {
    padding: 0;
  }

  .account-icon {
    width: 20px;
    height: 20px;
  }

  .account-icon-2 {
    width: 20px;
    height: 20px;
  }

  .search-section {
    width: 300px;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
  }
  .search-tab {
    width: 100%;
    align-items: center;
  }
  .search-bar {
    width: 100%;
  }
}