.text-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 20px 80px;
}

.text-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.text {
  width: 1280px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header {
  font-size: 32px;
  font-weight: 700;
}

.subheader {
  font-size: 24px;
  font-weight: 700;
}

.sub-text {
  display: flex;
  flex-direction: column;
}

.texts {
  font-size: 16px;
}

.Untitled {
  font-size: 20px
}

@media screen and (min-width: 375px) and (max-width: 440px) {
  .text-section-container {
    row-gap: 24px;
    padding: 20px 16px;
  }

  .text {
  width: 343px;
  row-gap: 12px;
  }

  .header {
  font-size: 20px;
  }

  .subheader {
  font-size: 16px;
  }

  .texts {
  font-size: 14px;
  }

  .Untitled {
  font-size: 20px
  }
}