.Recommended-section {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
}

.Recommended-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1260px;
}

.Recommended-Locations {
  font-size: 24px;
  font-weight: 600;
}

.chevron-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

.chevron-button {
  width: 45px;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, 0);
}

.Hosting-Cards {
  width: 1281px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 28px;
}

.Hosting-Card {
  width: 395px;
  height: 315px;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: white;
  position: relative;
}

.card-image {
  height: 225px;
  object-fit: cover;
  border-radius: 12px;
}

.price {
  background-color: #EAECF0;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  position: absolute;
  top: 20px;
  right: 20px;
}

.Amount {
  font-size: 16px;
  font-weight: 700;
}

.Night {
  font-size: 12px;
  font-weight: 700;
}

.card-details {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.amenities-container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.amenities {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  padding: 6px 10px;
  background-color: white;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.amenities-icon {
  height: 20px;
}

.Top-Locations-Section {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.Top-Locations-Text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
}

@media screen and (min-width: 375px ) and (max-width: 440px) {
  .Recommended-section {
    justify-content: flex-start;
    padding: 20px 16px;
    row-gap: 20px;
  }

  .Recommended-nav {
    width: 343px;
    height: 20px;
  }

  .Recommended-Locations {
    font-size: 14px;
    font-weight: 600;
  }

  .chevron-buttons {
    row-gap: 10px;

  }

  .chevron-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 18px;
    width: 18px;
    border-radius: 10px;
  }

  .chevron-left {
    height: 8px;
    width: 6.5px;
  }

  .chevron-right {
    height: 8px;
    width: 6.5px;
  }

  .Hosting-Cards {
    width: 343px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .Hosting-Card {
    width: 327px;
    height: 315px;
  }

  .card-image {
    height: 232px;
  }

  .Top-Locations-Section {
    padding: 0px 20px;
  }
  
  .search-bar {
    width: 100%;
  }

  .search-button {
    width: 100%;
    justify-content: center;
  }
  
}