.Offer-section-container {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: center;
  justify-content: center;
}

.Top-Locations-Container {
  width: 1260px;
  display: flex;
  justify-content: space-between;
}

.Discount-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1238px;
  height: 171px;
  border-radius: 20px;
  padding: 22px 21px ;
  background-image: url("../Images/unsplash_uHHkS4aNhuI.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Discount {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.up {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.check {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.CTA {
  background-color: white;
  font-size: 16px;
  border-radius: 26px;
  border-width: 0.5px;
  padding: 8px 16px;
  width: 117px;
}

.testitmony-section-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  padding: 8px 0px;
}

.Heading {
  font-size: 36px;
  font-weight: 700;
}

.testitmony-section {
  display: flex;
  flex-direction: row;
  column-gap: 68px;
}

.testitmony {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding: 60px 32px;
}

.Untitled {
  text-align: center;
  font-size: 24px;
  width: 289px;
}

.personal-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.Avatar {
  width: 56px;
  height: 56px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
}

.Mollie, .web {
  text-align: center;
}

@media screen and (min-width: 375px ) and (max-width: 440px) {
  .Offer-section-container {
    padding: 20px 16px;
  }

  .Top-Locations-Container {
    width: 343px;
    column-gap: 12px;
    overflow: auto;
  }

  .Discount-section {
    width: 323px;
    height: 130px;
    padding: 10px;
    border-radius: 6px;
  }

  .up {
    font-size: 24px;
    width: 311px;
  }

  .check {
    font-size: 14px;
    width: 311px;
  }

  .CTA {
    font-size: 10px;
    padding: 6px 12px;
    width: 80px;
  }

  .testitmony-section-container {
    padding: 20px 16px;
  }

  .Heading {
    font-size: 28px;
    width: 343px;
    text-align: center;
  }

  .testitmony-section {
    width: 323px;
    row-gap: 12px;
    align-items: center;
    overflow: auto;
  }

  .testitmony {
    width: 291px;
    padding: 56px 16px;
    row-gap: 24px;
  }

  .Untitled {
    font-size: 20px;
    width: 311px;
  }
  
}